__pycache__/
*.py[oc]
*.pyo
*.pyd
*.so
build/
dist/
wheels/
*.egg-info

.venv/
venv/

.env
*.env

*.log

.vscode/
.idea/

*.sqlite3

alembic/__pycache__/

.pytest_cache/
.cache/

.mypy_cache/

htmlcov/
.coverage
